.publicaties{
	margin-left:100px;
	float: left;
}

nav>ul>.breadcrumbs{
	margin-bottom: 20px;
}


.dropdown3-1{
	height:25px;
	width:100px;
}

.dropdown3-2{
	height:25px;
	width:200px;
	float:left;
}

.dropdown3-3{
	height:25px;
	width:175px;
}

.filter3{
	float:left;
	margin-top:50px;
	margin-right:15px;
}

.filter3-1{
}


.artikelfoto{
	width: 256px;
	height: 190px;
	float: left;
	clear: left;
	margin-left:40px;
	margin-top: 30px;
}

.kader_artikelen{
	background-color: #ffffff; /*wit*/
	width: 800px;
	height: 190px;
	margin-top:30px;
	float: left;
}

.tekst_artikelen{
	margin-left: 20px;
	margin-bottom: 15px;
	margin-top: 50px;
	margin-right:20px;
}

.button_leesmeer{
	border: none;
	display: inline-block;
	height: 30px;
	width:100px;
	margin-left:20px;
}
.tag{
	background-color: #223242;
	width:76px;
	height:22px;
	float:left;
	border:1px solid #223242;
	margin-left:20px;
	margin-top:10px;
}

.tekst{
	margin-top: -10px;
}
.tag_tekst{
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 2px;
	margin-right:20px;
}

.container{
	float:left;
	margin-left:-100px;
}


